# .clangd
CompileFlags:
  Add:
    - -std=gnu++17
    - -DUSBD_DESC_USER_SUPPLIED

    # Arduino Picoコアライブラリへのインクルードパス
    - -I/home/yayoi/.arduino15/packages/rp2040/hardware/rp2040/4.6.1/cores/rp2040

    # Raspberry Pi Picoのボード定義（バリアント）へのインクルードパス
    - -I/home/yayoi/.arduino15/packages/rp2040/hardware/rp2040/4.6.1/variants/rpipico
