# all ignore
/*
/**

# github actions
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/build.yml
!/.github/workflows/nightly-release.yml


!/.gitignore
!/LICENSE
!/README.md
!/.clangd
!/PokeControllerForPico/
/PokeControllerForPico/*
!/PokeControllerForPico/.h
!/PokeControllerForPico/.ino
!/PokeControllerForPico/.c
!/PokeControllerForPico/.cpp
