# all ignore
/*
/**

# github actions
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/build.yml
!/.github/workflows/nightly-release.yml


!/.gitignore
!/LICENSE
!/README.md
!/AGENTS.md
!/Makefile
!/.clangd
!/CMakeLists.txt
!/pico_sdk_import.cmake
!/PokeControllerForPico/
/PokeControllerForPico/*
!/PokeControllerForPico/*.h
!/PokeControllerForPico/*.c
!/PokeControllerForPico/*.cpp
