# all ignore
/*
/**

# github actions
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/build.yml
!/.github/workflows/nightly-release.yml


!/.gitignore
!/.gitmodules
!/lib/
!/LICENSE
!/README.md
!/AGENTS.md
!/Makefile
!/.clangd
!/CMakeLists.txt
!/pico_sdk_import.cmake
!/src/
/src/*
!/src/*.h
!/src/*.c
!/src/*.cpp
