name: Build Firmware
on: [push, pull_request, workflow_call ]

env:
  PICO_SDK_VERSION: '2.2.0'

jobs:
  Build-firmware:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sku: [ pico, pico2, waveshare_rp2350_usb_a ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake make gcc-arm-none-eabi

      - name: Clone Pico SDK
        run: git clone --branch ${{ env.PICO_SDK_VERSION }} --depth 1 https://github.com/raspberrypi/pico-sdk.git

      - name: Initialize Pico SDK Submodules
        run: cd pico-sdk && git submodule update --init

      - name: Patch Pico-PIO-USB for SDK v2 compatibility
        run: |
          sed -i '/static __always_inline void pio_sm_set_jmp_pin/i #if PICO_SDK_VERSION_MAJOR < 2' lib/Pico-PIO-USB/src/usb_rx.pio.h
          sed -i '/(jmp_pin << PIO_SM0_EXECCTRL_JMP_PIN_LSB);/a #endif' lib/Pico-PIO-USB/src/usb_rx.pio.h

      - name: Compile firmware
        run: make build ${{ matrix.sku }}
        env:
          PICO_SDK_PATH: ${{ github.workspace }}/pico-sdk

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pico-firmware-${{ matrix.sku }}
          path: build/PokeControllerForPico-${{ matrix.sku }}.uf2
