name: Build Firmware
on: [push, pull_request, workflow_call ]

env:
  PICO_SDK_VERSION: '2.2.0'

jobs:
  Build-firmware:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sku: [ pico, pico2 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake make gcc-arm-none-eabi

      - name: Cache Pico SDK
        id: cache-pico-sdk
        uses: actions/cache@v4
        with:
          path: pico-sdk
          key: ${{ runner.os }}-pico-sdk-${{ env.PICO_SDK_VERSION }}

      - name: Clone Pico SDK
        if: steps.cache-pico-sdk.outputs.cache-hit != 'true'
        run: git clone --branch ${{ env.PICO_SDK_VERSION }} --depth 1 https://github.com/raspberrypi/pico-sdk.git

      - name: Initialize Pico SDK Submodules
        if: steps.cache-pico-sdk.outputs.cache-hit != 'true'
        run: cd pico-sdk && git submodule update --init

      - name: Compile firmware
        run: make build ${{ matrix.sku }}
        env:
          PICO_SDK_PATH: ${{ github.workspace }}/pico-sdk

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pico-firmware-${{ matrix.sku }}
          path: build/PokeControllerForPico-${{ matrix.sku }}.uf2
